
<html lang="en">
@await Html.PartialAsync("/Views/UserLayoutPartial/_HeadPartial.cshtml")
<body class="g-sidenav-show  bg-gray-100">
@await Html.PartialAsync("/Views/UserLayoutPartial/_NavbarPartial.cshtml")
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    @await Html.PartialAsync("/Views/UserLayoutPartial/_NavbarPartial2.cshtml")
    <!-- End Navbar -->
    <div class="container-fluid py-4">
        @RenderBody()
        @await Html.PartialAsync("/Views/UserLayoutPartial/_FooterPartial.cshtml")
    </div>
</main>
@await Html.PartialAsync("/Views/UserLayoutPartial/_RightPluginPartila.cshtml")
<!--   Core JS Files   -->
@await Html.PartialAsync("/Views/UserLayoutPartial/_ScriptPartial.cshtml")
</body>
</html>