<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    @await Html.PartialAsync("/Views/AdminLayoutPartial/_AppBrandDemoPartial.cshtml")

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item">
            <a href="index.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Admin/Destination/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-pen"></i>
                <div data-i18n="Analytics">About</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Admin/Destination/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-pen"></i>
                <div data-i18n="Analytics">About 2</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Admin/Destination/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-comment"></i>
                <div data-i18n="Analytics">Comment</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Admin/Destination/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-contact"></i>
                <div data-i18n="Analytics">Contact</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Admin/Destination/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-map"></i>
                <div data-i18n="Analytics">Destination</div>
            </a>
        </li>
        <li class="menu-item">
                    <a href="/Admin/Destination/Index/" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-photo-album"></i>
                        <div data-i18n="Analytics">Feature</div>
                    </a>
                </li>
        <li class="menu-item">
            <a href="/Admin/Destination/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-photo-album"></i>
                <div data-i18n="Analytics">Feature 2</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Admin/Destination/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-user-circle"></i>
                <div data-i18n="Analytics">Guide</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Admin/Destination/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-user-circle"></i>
                <div data-i18n="Analytics">Guest</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Admin/Destination/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-message"></i>
                <div data-i18n="Analytics">Message</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Admin/Destination/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-mail-send"></i>
                <div data-i18n="Analytics">Newsletter</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Admin/Destination/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-bookmark"></i>
                <div data-i18n="Analytics">Reservation</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Admin/Destination/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-happy-heart-eyes"></i>
                <div data-i18n="Analytics">Referance</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Admin/Destination/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-pen"></i>
                <div data-i18n="Analytics">Sub About</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Admin/Destination/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-user-voice"></i>
                <div data-i18n="Analytics">Testimonial</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Admin/Destination/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-compass"></i>
                <div data-i18n="Analytics">Settings</div>
            </a>
        </li>
    </ul>
</aside>